<html lang="ja">
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-script-type" content="text/javascript">
<%= auto_discovery_link_tag :rss, :action => 'rss' %>
<link rev="made" href="mailto:h-sbt@nifty.com">
<title>バカが征く on Rails <%= @sub_title %></title>
</head>
<body>
<%= @content_for_layout %>
<hr>
<p>Copyright &copy; 1905 tko at jitu.org</p>
<p><%= link_to("バカが征く on Rails", {:controller => "entry"}) %></p>
</body>
</html>
